:root {
    --primary-color: #FC6E2A;
    --background-color:#f4f4f4;
    --sub-color: #787878;
    --hover-color: #CCDCF0;
    --border-color:1px solid #FC6E2A;
    --box-shadow: 0 8px 16px rgba(121, 117, 117, 0.2);
    --border-line:1px dashed rgba(5, 5, 5, 0.12) ;
  } 

.marginH{
  margin-top: 20px;
  margin-bottom: 20px;
}